{
    "openapi": "3.1.0",
    "info": {
        "title": "API Eventos UES",
        "version": "1.0.0",
        "description": "API REST del sistema de gestión de eventos de la Universidad Estatal de Sonora. Expone dos familias de endpoints: el módulo v1 (administración, requiere JWT Bearer) y el módulo api (consulta pública)."
    },
    "servers": [
        {
            "url": "https://api.eventues.app",
            "description": "Producción"
        },
        {
            "url": "http://localhost:8080",
            "description": "Servidor local"
        }
    ],
    "tags": [
        {
            "name": "/v1/actividad.json",
            "description": "Actividad"
        },
        {
            "name": "/v1/carrera.json",
            "description": "Carrera"
        },
        {
            "name": "/v1/categoria-evento.json",
            "description": "CategoriaEvento"
        },
        {
            "name": "/v1/default.json",
            "description": "Default"
        },
        {
            "name": "/v1/evento.json",
            "description": "Evento"
        },
        {
            "name": "/v1/evento-material.json",
            "description": "EventoMaterial"
        },
        {
            "name": "/v1/evento-media.json",
            "description": "EventoMedia"
        },
        {
            "name": "/v1/formulario.json",
            "description": "Formulario"
        },
        {
            "name": "/v1/iniciar-sesion.json",
            "description": "IniciarSesion"
        },
        {
            "name": "/v1/material.json",
            "description": "Material"
        },
        {
            "name": "/v1/media.json",
            "description": "Media"
        },
        {
            "name": "/v1/modulo.json",
            "description": "Modulo"
        },
        {
            "name": "/v1/modulo-permiso.json",
            "description": "ModuloPermiso"
        },
        {
            "name": "/v1/permiso.json",
            "description": "Permiso"
        },
        {
            "name": "/v1/refrescar-token.json",
            "description": "RefrescarToken"
        },
        {
            "name": "/v1/refrescar-usuario.json",
            "description": "RefrescarUsuario"
        },
        {
            "name": "/v1/ruta.json",
            "description": "Ruta"
        },
        {
            "name": "/v1/subir-archivo.json",
            "description": "SubirArchivo"
        },
        {
            "name": "/v1/unidad-academica.json",
            "description": "UnidadAcademica"
        },
        {
            "name": "/v1/usuario.json",
            "description": "Usuario"
        },
        {
            "name": "/api/actividad.json",
            "description": "Actividad"
        },
        {
            "name": "/api/asistente.json",
            "description": "Asistente"
        },
        {
            "name": "/api/carrera.json",
            "description": "Carrera"
        },
        {
            "name": "/api/categoria-evento.json",
            "description": "CategoriaEvento"
        },
        {
            "name": "/api/evento.json",
            "description": "Evento"
        },
        {
            "name": "/api/evento-material.json",
            "description": "EventoMaterial"
        },
        {
            "name": "/api/evento-media.json",
            "description": "EventoMedia"
        },
        {
            "name": "/api/formulario.json",
            "description": "Formulario"
        },
        {
            "name": "/api/material.json",
            "description": "Material"
        },
        {
            "name": "/api/media.json",
            "description": "Media"
        },
        {
            "name": "/api/modulo.json",
            "description": "Modulo"
        },
        {
            "name": "/api/modulo-permiso.json",
            "description": "ModuloPermiso"
        },
        {
            "name": "/api/permiso.json",
            "description": "Permiso"
        },
        {
            "name": "/api/ruta.json",
            "description": "Ruta"
        },
        {
            "name": "/api/unidad-academica.json",
            "description": "UnidadAcademica"
        }
    ],
    "paths": {
        "/api/actividad.{format}": {
            "get": {
                "tags": [
                    "/api/actividad.json"
                ],
                "summary": "Lista Actividad",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultado": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Actividad"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "paginacion": {
                                            "type": "object",
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "pagina": {
                                                    "type": "integer"
                                                },
                                                "limite": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "total",
                                                "pagina",
                                                "limite"
                                            ],
                                            "additionalProperties": false
                                        }
                                    },
                                    "required": [
                                        "resultado",
                                        "paginacion"
                                    ],
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "post": {
                "tags": [
                    "/api/actividad.json"
                ],
                "summary": "Guarda registro de Actividad",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Actividad"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/Actividad"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "put": {
                "tags": [
                    "/api/actividad.json"
                ],
                "summary": "Actualiza registro de Actividad",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Actividad"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/Actividad"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "delete": {
                "tags": [
                    "/api/actividad.json"
                ],
                "summary": "Elimina Actividad",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/api/asistente.{format}": {
            "get": {
                "tags": [
                    "/api/asistente.json"
                ],
                "summary": "Lista Asistente",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultado": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Asistente"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "paginacion": {
                                            "type": "object",
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "pagina": {
                                                    "type": "integer"
                                                },
                                                "limite": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "total",
                                                "pagina",
                                                "limite"
                                            ],
                                            "additionalProperties": false
                                        }
                                    },
                                    "required": [
                                        "resultado",
                                        "paginacion"
                                    ],
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "post": {
                "tags": [
                    "/api/asistente.json"
                ],
                "summary": "Guarda registro de Asistente",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Asistente"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/Asistente"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "put": {
                "tags": [
                    "/api/asistente.json"
                ],
                "summary": "Actualiza registro de Asistente",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Asistente"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/Asistente"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "delete": {
                "tags": [
                    "/api/asistente.json"
                ],
                "summary": "Elimina Asistente",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/api/carrera.{format}": {
            "get": {
                "tags": [
                    "/api/carrera.json"
                ],
                "summary": "Lista Carrera",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultado": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Carrera"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "paginacion": {
                                            "type": "object",
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "pagina": {
                                                    "type": "integer"
                                                },
                                                "limite": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "total",
                                                "pagina",
                                                "limite"
                                            ],
                                            "additionalProperties": false
                                        }
                                    },
                                    "required": [
                                        "resultado",
                                        "paginacion"
                                    ],
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "post": {
                "tags": [
                    "/api/carrera.json"
                ],
                "summary": "Guarda registro de Carrera",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Carrera"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/Carrera"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "put": {
                "tags": [
                    "/api/carrera.json"
                ],
                "summary": "Actualiza registro de Carrera",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Carrera"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/Carrera"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "delete": {
                "tags": [
                    "/api/carrera.json"
                ],
                "summary": "Elimina Carrera",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/api/categoria-evento.{format}": {
            "get": {
                "tags": [
                    "/api/categoria-evento.json"
                ],
                "summary": "Lista CategoriaEvento",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultado": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CategoriaEvento"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "paginacion": {
                                            "type": "object",
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "pagina": {
                                                    "type": "integer"
                                                },
                                                "limite": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "total",
                                                "pagina",
                                                "limite"
                                            ],
                                            "additionalProperties": false
                                        }
                                    },
                                    "required": [
                                        "resultado",
                                        "paginacion"
                                    ],
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "post": {
                "tags": [
                    "/api/categoria-evento.json"
                ],
                "summary": "Guarda registro de CategoriaEvento",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoriaEvento"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/CategoriaEvento"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "put": {
                "tags": [
                    "/api/categoria-evento.json"
                ],
                "summary": "Actualiza registro de CategoriaEvento",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoriaEvento"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/CategoriaEvento"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "delete": {
                "tags": [
                    "/api/categoria-evento.json"
                ],
                "summary": "Elimina CategoriaEvento",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/api/evento-material.{format}": {
            "get": {
                "tags": [
                    "/api/evento-material.json"
                ],
                "summary": "Lista EventoMaterial",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultado": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EventoMaterial"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "paginacion": {
                                            "type": "object",
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "pagina": {
                                                    "type": "integer"
                                                },
                                                "limite": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "total",
                                                "pagina",
                                                "limite"
                                            ],
                                            "additionalProperties": false
                                        }
                                    },
                                    "required": [
                                        "resultado",
                                        "paginacion"
                                    ],
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "post": {
                "tags": [
                    "/api/evento-material.json"
                ],
                "summary": "Guarda registro de EventoMaterial",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventoMaterial"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/EventoMaterial"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "put": {
                "tags": [
                    "/api/evento-material.json"
                ],
                "summary": "Actualiza registro de EventoMaterial",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventoMaterial"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/EventoMaterial"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "delete": {
                "tags": [
                    "/api/evento-material.json"
                ],
                "summary": "Elimina EventoMaterial",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/api/evento-media.{format}": {
            "get": {
                "tags": [
                    "/api/evento-media.json"
                ],
                "summary": "Lista EventoMedia",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultado": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EventoMedia"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "paginacion": {
                                            "type": "object",
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "pagina": {
                                                    "type": "integer"
                                                },
                                                "limite": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "total",
                                                "pagina",
                                                "limite"
                                            ],
                                            "additionalProperties": false
                                        }
                                    },
                                    "required": [
                                        "resultado",
                                        "paginacion"
                                    ],
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "post": {
                "tags": [
                    "/api/evento-media.json"
                ],
                "summary": "Guarda registro de EventoMedia",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventoMedia"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/EventoMedia"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "put": {
                "tags": [
                    "/api/evento-media.json"
                ],
                "summary": "Actualiza registro de EventoMedia",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventoMedia"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/EventoMedia"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "delete": {
                "tags": [
                    "/api/evento-media.json"
                ],
                "summary": "Elimina EventoMedia",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/api/evento.{format}": {
            "get": {
                "tags": [
                    "/api/evento.json"
                ],
                "summary": "Lista Evento",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultado": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Evento"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "paginacion": {
                                            "type": "object",
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "pagina": {
                                                    "type": "integer"
                                                },
                                                "limite": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "total",
                                                "pagina",
                                                "limite"
                                            ],
                                            "additionalProperties": false
                                        }
                                    },
                                    "required": [
                                        "resultado",
                                        "paginacion"
                                    ],
                                    "additionalProperties": false
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "post": {
                "tags": [
                    "/api/evento.json"
                ],
                "summary": "Guarda registro de Evento",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Evento"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/Evento"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
                                        "otra_columna": "El campo otra_columna tiene otro error"
                                    },
                                    "mensaje": "Ocurrió un problema al guardar el registro, por favor contacta a soporte técnico"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "put": {
                "tags": [
                    "/api/evento.json"
                ],
                "summary": "Actualiza registro de Evento",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "csv",
                                "html",
                                "xlsx",
                                "pdf",
                                "docx"
                            ]
                        },
                        "description": "Formato de respuesta"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Evento"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Respuesta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "detalle": {
                                            "$ref": "#/components/schemas/Evento"
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validacion al guardar el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errores": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "mensaje": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "errores",
                                        "mensaje"
                                    ],
                                    "additionalProperties": false
                                },
                                "example": {
                                    "errores": {
                                        "nombre_campo": "El campo nombre_campo no puede estar vacío",
[...]
